body {
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 300px;
    margin-bottom: 50px;
    border-radius: 50px;

}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #ff0000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.83;
    background: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,#a663cc );
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9px;
}

.inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

h1 {
    font-size: 50px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 200;
}

#name {
    font-size: 100px;
    font-weight: 200;
    line-height: 1.2;
    font-family: Big Shoulders Stencil text;

}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: #f7ff17;
    width: 70px;
    margin: auto;

}

p {
    max-width: 450px;
    margin: auto;
    font-size: 17px;
    line-height: 1.2;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    z-index: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 0px;
    background: #FFEAAE;
}

.lis {
    color: cadetblue;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    display: inline;
}
.lis:hover {
    font-size: 25px;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 2px 2px gainsboro;
}
#article a {
    text-decoration: underline !important;
    color: #00f2f2 !important;
    text-shadow: none !important;
}
#contact a {
    text-decoration: underline !important;
    color: #00f2f2 !important;
    text-shadow: none !important;
}
